<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="741a1e7a-2c66-4d1f-8d10-2541d958bb69" Alias="pageNotFoundPage" Level="1">
  <Info>
    <Name>Page Not Found Page</Name>
    <Icon>icon-application-error</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="e24e6d11-8005-47d9-9078-219a2182f34f">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>pageNotFoundPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6d4585a5-2711-497f-be40-53402a53785f">pageNotFoundPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>