<?xml version="1.0" encoding="utf-8"?>
<Content Key="4b7b8f17-9a64-4165-b753-9584ca36bc52" Alias="Page Not Found" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/PageNotFound</Path>
    <Trashed>false</Trashed>
    <ContentType>pageNotFoundPage</ContentType>
    <CreateDate>2025-02-10T16:58:02</CreateDate>
    <NodeName Default="Page Not Found" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6d4585a5-2711-497f-be40-53402a53785f">pageNotFoundPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "b3d510f7-b0d2-4db7-8ceb-d712e72756d9",
      "key": "82c391dd-7917-4ed3-b209-2b75a94cfcca",
      "udi": null,
      "values": [
        {
          "alias": "richText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp\u003E\u003Cspan\u003EIt seems you\u0027ve wandered off the beaten path and stumbled into the digital wilderness. The page you\u2019re looking for has either taken a vacation or never existed in the first place.\u003C/span\u003E\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "82c391dd-7917-4ed3-b209-2b75a94cfcca",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "82c391dd-7917-4ed3-b209-2b75a94cfcca",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </bodyText>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[Oops]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[1]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>